//colours
$cerulean: #0271bc;
$white:#ffffff;
$lighblue:#8ccbea;
$dark:#000000;
$greyish-brown:#4a4a4a;
$orange:#f26002;
$ice-blue:#eff9ff;
$dark-grey-blue:#304268;

//fuentes

$titles: "Roboto Slab", sans-serif;
$text: "Roboto", sans-serif;





